:root {
    /* 
    /****************  MY COLOR SCHEME ****************
    => https://coolors.co/0a0908-22333b-eae0d5-c6ac8f-5e503f
    
    =========================================
    LEVEL 0: GLOBAL DICTIONARY
    -----------------------------------------
    Literal color names.
    ========================================= */
    --c-jet-black: #22333B;
    --c-almond-cream: #EAE0D5;
    --c-khaki-beige: #C6AC8F;
    --c-stone-brown: #5E503F;
    --c-pure-white: #FFFFFF;
    --c-absolute-black: #000000;

    /* =========================================
    LEVEL 1: BRAND THEME
    -----------------------------------------
    Base color for the project.
    ========================================= */
    --brand-primary: var(--c-jet-black);            /* Primary brand color */
    --brand-secondary: var(--c-stone-brown);        /* Secondary brand color/support */
    --brand-accent: var(--c-khaki-beige);          /* Accent color/action (buttons) */

    --brand-dark: var(--c-black);                   /* Dark text/Graphics */
    --brand-light: var(--c-almond-cream);           /* Background Cards/Sections */

    --c-white: #FFFFFF;
    --c-black: #000000;

    /* =========================================
    LEVEL 2: SEMANTIC PATTERN
    -----------------------------------------
    This names never change! *adapt to my current project
    ========================================= */

    /* 1. BACKGROUNDS */
    --bg-page: var(--c-white);                  /* Main Page background */
    --bg-header-footer: var(--brand-secondary);    /* Top and Bottom brackground */
    --bg-container: var(--brand-light);         /* Cards/sections background */
    --bg-accent: var(--brand-primary);          /* Highlight area background */

    /* 2. NAVIGATION */
    --nav-bg: var(--brand-primary);             /* Menu background */
    --nav-text: var(--brand-dark);                 /* Menu text */
    --nav-hover: var(--brand-accent);           /* Hover */
    --nav-active: var(--c-white);           /* WAYFINDING: current page */

    /* 3. TYPOGRAPHY */
    --text-heading: var(--brand-dark);          /* Headers (h1, h2, h3) */
    --text-body: var(--brand-dark);             /* Paragraphs and long texts */
    --text-on-dark: var(--c-white);             /* Text over color/dark backgrounds */
    --text-link: var(--brand-primary);          /* Text links */

    /* 4. UI & DECORATION */
    --border-main: var(--brand-dark);           /* Buttons/Divs border */
    --border-soft: var(--brand-accent);      /* Light division/Lines */
    --shadow-main: rgba(0, 0, 0, .8);        /* Default Shadow */

    /* 5. STATE & DYNAMIC (JavaScript/Action) */
    --action-color: var(--brand-primary);        /* Call-to-action buttons */
    --status-success: var(--brand-primary);     /* Completed/Right items */
}

/**************** SITE ****************/
* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-page);
}

h1, h2 {
    font-family: Gelasio, 'Times New Roman', Times, serif;
    /* color: var(--c-almond-cream);
    color: white; */
}

p {
    font-family: Roboto, Helvetica, sans-serif;
}

header, main, nav, footer {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
}

/**************** HEADER ****************/
header {
    display: grid;
    grid-template-columns: 60px auto 44px 44px;
    align-items: center;
    background-color: var(--bg-header-footer);
    border-bottom: 2px solid var(--border-main);
    color: var(--brand-light);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    margin: 5px 0 5px 10px;
}

header span {
    font-family: Gelasio, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: var(--brand-light);
    font-weight: bold;
    margin: 5px 0 5px 15px;
}

/**************** HAMBURGER ****************/
.theme, .hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    height: 44px;
}

.theme::before{
    content: "◐";
    font-size: 1.5rem;
    color: var(--brand-accent);    
}

.hamburger {
   
    padding-bottom: 8px;
}

.hamburger.show {
    padding-bottom: 5px;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
    color: var(--brand-accent);
}

.hamburger.show::before {
    content: "\00D7";
}

/**************** NAVIGATION ****************/
.navigation {
    display: none;
    font-family: sans-serif;
    background-color: var(--nav-bg);
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    text-align: right;
    color: var(--text-on-dark);
}

.navigation a:hover {
    background-color: var(--nav-hover);
    color: var(--nav-text);
}

li.current a {
    color: var(--nav-active);
    font-weight: bold;
}

li.current a::before {
    content: "♦️";
}

/**************** MAIN ****************/
main {
    /* padding: 10px 0; */
    padding: 0;
}

main h1 {
    color: var(--brand-primary);
    padding: 10px;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.menu-button {
    font-family: "Material Symbols Outlined";
    background: none;
    /* border: none; */
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 70px;
    width: 70px;
    border-radius: 5px;
    border: 2px solid var(--border-soft);
    background-color: var(--brand-light);
}

.menu-button:hover {
    background-color: var(--nav-hover);
}

.button-active {
    background-color: var(--action-color);
}

#grid::before {
    content: "\e9b0";
}

#list::before {
    content: "\e9b9";
}

.members {
    padding: 20px 0;
}

.members section a {
    color: var(--text-link);
    text-decoration: none;
    cursor: pointer;
}

.members section h2 {
    color: var(--brand-primary);
}

.members section p {
    color: var(--brand-dark); 
}

.member {
    display: block;
    padding-top: 3px;
    /* color: #CD7F32; */
    /* text-shadow: 0 0 10px #CD7F32; */
}

.silver {
    display: block;
    padding-top: 3px;
    /* color: #999999; */
    text-shadow: 0 0 10px #585858;
}

.gold {
    display: block;
    padding-top: 3px;
    /* color: #FFD700; */
    /* text-shadow: 0 0 1rem var(--brand-secondary); */
    text-shadow: 0 0 10px #FFD700;
}



/*----------- GRID -----------*/
.grid {
    min-height: 100vh;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 10px;
}

.grid section {
    text-align: center;
    box-shadow: 0 0 1rem #555;
    padding: 5px;
    background-color: var(--bg-container);
}

.grid h2 {
    font-size: 1rem;
    padding: 5px 0;
    margin: 0.2rem;
}

.grid p {
    font-size: 0.9rem;
    margin: 0.1rem;
}

.grid img {
        width: auto;
        height: 65px;
}

/*----------- LIST -----------*/
.list {
    min-height: auto;
	display: flex;
	flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section:nth-child(even) {
        background-color: var(--brand-light);
}

.list section img {
        display: none;
    }

.list section h2 {
        font-size: 1rem;
        margin: 0 1rem;
    }

.list section p {
        font-size: 0.9rem;
        margin: 0 1rem;
    }

.list section a {
    margin: 0 1rem;

}

.list .member {
    display: block;
    padding: 0;
    /* color: #CD7F32; */
    text-shadow: 0 0 0;
}

.list .silver {
    display: block;
    padding: 0;
    /* color: #999999; */
    text-shadow: 0 0 0;
}

.list .gold {
    display: block;
    padding: 0;
    /* color: #FFD700; */
    text-shadow: 0 0 0;
}


/**************** FOOTER ****************/
footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    background-color: var(--bg-header-footer);
    border-top: 2px solid var(--border-main);
    color: var(--c-white);
}

.chamber-info {
    flex: 1;
}

.chamber-info h2 {
    font-size: 1.1rem;
}

.social {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 10px;
    flex: 1;
    
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-jet-black);
    border-radius: 50%;
    width: 60px; 
    height: 60px;
}

.social img {
    width: 42px;
    height: 42px;
}

.copyright {
    flex: 1;
}

/*  =========================================
    INDEX.HTML
    -----------------------------------------
    Home Page
    ========================================= */

/**************** MAIN ****************/

.home-page .hero {
    position: relative;

}

.home-page .hero img {
    width: 100%;
    height: auto;
}

.home-page .cta {
    position: absolute;
    right: 5%;
    bottom: 12%;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    height: 44px;
    /* width: 170px;     */
    width: 16%;
    min-width: 120px;    
    text-align: center;
    align-content: center;
    /* border: 1px solid var(--border-soft); */
    border-radius: 8px;
    box-shadow: 5px 5px 8px var(--shadow-main);
    /* color: var(--text-link); */
    color: #FFD700;
    background-color: var(--action-color);
}

.home-page .cta:hover {
    /* box-shadow: 5px 5px 1rem #FFD700; */
    /* background-color: #FFD700; */
    text-shadow: 0 0 8px #FFD700;
    /* color: #FFD700; */
}

.home-page .events-weather-forecast {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    
}

.home-page .events-weather-forecast section {
    background-color: var(--bg-container);
}

.home-page .events-weather-forecast h2 {
    background-color: var(--brand-primary);
    color: var(--text-on-dark);
    padding: 8px;
    text-align: left;
    font-size: 1rem;
    margin: 0;
}


/* ===== EVENTS SECTION ===== */
.home-page .events-div {
    /* display: grid; */
    /* flex-direction: column; */
    
    /* grid-template-columns: 1fr; */
    /* padding: 5px 5px 5px 8px; */
    padding: 8px;
    color: var(--brand-dark);
    /* min-width: 195px; */
}


/* ===== WEATHER SECTION ===== */
.home-page .weather-div {
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
    grid-template-columns: 102px 2fr;
    padding: 8px;
    /* min-width: 250px; */
    min-width: 240px;
}

/* .home-page .weather-div img { */
    /* border: 1px solid black; */
    /* justify-self: center; */
/* } */

.home-page .weather-div .temp-div p {
    margin: 0.4rem 0;
    color: var(--brand-dark);
    /* margin: 0; */
    /* color: blue; */
}


.home-page .weather-div .temp-div .p-temp-current {
    margin: 1rem 0 .6rem 0;
}

.home-page .weather-div .temp-div #temp-current {
    font-weight: bold;
}


/* ===== FORECAST SECTION ===== */
.home-page .forecast-div {
    display: grid;
    /* flex-direction: column; */
    
    grid-template-columns: 1fr;
    /* padding: 5px 5px 5px 8px; */
    padding: 8px;
    /* min-width: 195px; */
    min-width: 170px;
}

.home-page .forecast-div  p {
    margin: 0.4rem 0 1rem 0;
    font-size: 1.2rem;
    color: var(--brand-dark);
    
    /* color: blue; */
}

/* .home-page .forecast-div .p-temp-current {
    margin: 1.2rem 0 .6rem 0;
} */

.home-page .forecast-div .forecast-temp {
    font-weight: bold;
}

.home-page #temp-description {
    text-transform: capitalize;
}

/* ===== SPOTLIGHT SECTION ===== */

.home-page .spotlight {
    padding: 10px 10px 20px 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.home-page .spotlight section {
    background-color: var(--bg-container);
    border-radius: 8px;
    /* padding: 8px; */
    text-align: center;
}

.home-page .spotlight .div-name {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-soft);
    padding: 8px 0;
    /* margin-bottom: 4px; */
}

.home-page .spotlight h3 {
    /* display: inline-block; */
    font-size: 1.2rem;
    /* padding: 5px 0; */
    /* margin: 0.2rem; */
    margin: 0 8px;
    color: var(--brand-primary);
}

.home-page .spotlight p {
    /* display: inline-block; */
    font-size: 0.9rem;
    /* margin: 0.1rem; */
    margin: 0;
}

.home-page .spotlight .div-data {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    /* display: flex;
    gap: 5px; */
    /* display: flex; */


    /* grid-template-columns: 102px 2fr; */
    padding: 8px;
    /* min-width: 250px; */
    align-items: center;
}

.home-page .spotlight .div-logo img {
    /* min-width: 85px; */
    /* width: 110px; */
    max-width: 100%;
    height: auto;
}

.home-page .spotlight .div-info {
    /* margin: 0.4rem 0; */
    text-align: left;
    /* margin: 8px; */
}

.home-page .spotlight .div-info p {    
    color: var(--brand-dark); 
    margin: 8px 0;
    /* white-space: nowrap;  */
    /* overflow: hidden; */
}

.home-page .spotlight .div-info a {
    color: var(--text-link);
    text-decoration: none;
    cursor: pointer;
    margin: 8px 0;
    /* white-space: nowrap; */
    /* overflow: hidden; */
}