@media screen and (min-width: 768px) {
    
    /**************** SITE ****************/
    .cardTitle {
        /* padding: 20px; */
        height: 44px;
        font-size: 1.5rem;
    }

    /* .buttons {
        color: red;
    } */

    /**************** HEADER ****************/
    header {
        grid-template-columns: 60px auto auto;
    }
    
    header img {
        margin: 5px 0 5px 20px;
    }

    header span {
        margin: 5px 0 5px 25px;
    }


    /**************** HAMBURGER ****************/
    .hamburger {
        display: none;
    }

    /**************** NAVIGATION ****************/
    .navigation {
        display: block;
        background-color: transparent;
        justify-items: right;
        width: 100%;
        border-top: transparent;


        grid-row-start: 1;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .navigation ul {
        display: flex;
        margin-right: 20px;
        gap: 20px;
    }

    .navigation li {
        min-width: 100px;
        background-color: var(--nav-bg);
        width: 130px;
        /* margin: 10px; */
    }

    .navigation a {
        text-align: center;
    }

    .navigation a:hover {
        background-color: var(--nav-hover);
        /* filter: saturate(30%); */
        color: var(--nav-text);
    }

    /**************** FOOTER ****************/
    footer {
        flex-direction: row;
        padding: 0 20px;
    }

    .footer-info, .footer-date {
    /* align-items:start; */
    justify-content: left;
}

    .footer-info {
        flex: 1;
        /* text-align: left; */
        /* margin-left: 20px; */
        justify-content: left;
    }
        .footer-date {
        flex: 1;
        /* text-align: right; */
        /* margin-right: 20px; */
        justify-content: right;
    }

    /*=========================================
        Home.HTML
    =========================================== */

    /**************** MAIN ****************/

    .home-page h1 {
        margin: 20px;
        /* color: var(--text-heading-lighter); */
    }

    .home-page .cta {
        right: 20px;
        bottom: 20px;
    }

    /* .home-page .cta:hover {
        filter: saturate(50%);
    } */

    /* .home-page .hero {
        height: 330px;
        width: 1200px;
        border: 2px dashed green;
    } */


    .home-page .hero img {
        width: 100%;
        /* width: 1200px; */
        /* max-width: 1200px; */
        /* height: auto; */
        /* height: 330px; */
        /* max-height: 330px; */
        /* border: 2px dashed green; */
    }

    .home-page .welcomeLastflight {
        margin: 20px;
        grid-template-columns: 1fr 1fr;
        /* display: flex; */
        gap: 20px;
        /* padding: 10px; */
    }
    

    .home-page .lastflightImg div {
        /* height: 102px;
        width: 244px;
        border: 1px dashed green; */
    }

    .home-page .choose {
        margin: 20px;
    }

    .home-page .chooseDiv {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .home-page .chooseDiv .buttons {
        width: 48.25%;
        /* width: 320px; */
        /* min-width: 100px; */
        /* color: red; */
    }

    /* .home-page .chooseDiv div:hover {
        filter: saturate(50%);
    } */

    .home-page .chooseDiv .buttons p {
        font-family: Doto, Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
    }

    /*=========================================
        Checklist.HTML
    =========================================== */

    /**************** MAIN ****************/

    /* .checklist-page {
        margin: 20px;
    } */
    .checklist-page h1 {
        margin: 20px;
        /* color: var(--text-heading-lighter); */
    }

    .checklist-page h2 {
        margin: 20px;
    }

    .checklist-page > label {
        margin-left: 20px;
    }

    .checklist-page .chekclistMainDiv {
        /* margin: 20px; */
        /* display: grid;
        grid-template-columns: 1fr; */
        margin: 20px auto;
        max-width: 1000px;
        gap: 20px;
        /* border: 1px dashed green; */
    }

    .resetAll {
        margin: 15px 15px 0 15px;
    }



    .checklist-page .categoryTitleDiv {
        /* background-color: red; */
        display: grid;
        grid-template-columns: 1fr 29px;
        padding: 0 20px;
        /* teste de margin */
        margin-top: 15px;
    }

    /* ---- BUTTON ---- */
    .checklist-page .categoryButton {
        height: 29px;
        width: 29px;
        padding: 0;
        margin: 0;
        /* margin-right: 10px; */
        color: var(--text-primary);
        font-size: 2rem;
    }
    .checklist-page .checklistDiv {
        padding: 20px;
    }


    /*============= CHECKLIST ITEMS ============= */

    .checklistItem {
        grid-template-columns: 58px 1fr;
    }

    .check {
        border: 2px solid var(--cl-checkpoint);
        width: 38px;
        height: 38px;
        /* justify-self: center; */
    }

    .checkIcon {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        width: 38px;
        color: var(--cl-success);
        font-size: 3rem;
    }

    .checkIcon.checked::before {
        font-family: "Material Symbols Outlined";
        content: "\e5ca";
    }

    .item {
        font-size: 1.1rem;
        font-weight: 600;
        /* position: relative; */
    }

    .item.type-info {
        margin: 0 20px;
        /* color: #B8B8B8; */
    }
        .item.type-info div {
        /* border: 1px dashed #B8B8B8; */
    }

    .item.type-subtitle {
        /* font-size: 1.2rem; */
    }


    .item.type-sim-action {
        transform: translateX(-29px);
    }

    /* .reset {
        margin-top: 20px;
    } */








    /*=========================================
        Add-Aircraft.HTML
    =========================================== */

    /**************** MAIN ****************/

    .add-aircraft-page h1 {
        margin: 20px;
    }

    .add-aircraft-page .addAircraft {
        /* margin: 20px; */
        /* display: grid;
        grid-template-columns: 1fr; */
        margin: 20px auto;
        max-width: 570px;
        gap: 20px;
        /* border: 1px dashed green; */
    }

    /*  -----------------------------------------
    Thankyou.HTML
    ----------------------------------------- */

    .thankyou-page > div {
            margin: 20px auto;
            display: flex;
            flex-direction: column; 
            
            /* justify-content: center; */
            /* justify-content: space-around; */
            /* align-items: center; */
            max-width: 570px;
            /* border: 2px dashed blue; */
        }

    .thankyou-page h1 {
        margin: 20px;
    }

    .thankyou-page .paragraph {
        font-size: 1.1rem;
        line-height: 30px;
    }

    .thankyou-page #results {
        margin: 10px 30px 0 30px;
    }



}