:root {
    /* https://coolors.co/00adb5-eeeeee-1b262c-27373f-ffb000-39ff14 */

    /* =========================================
       LEVEL 1: PALETTE (The Colors)
       ========================================= */
    /* Primary Color */ 
    --c-tropical-teal : #00ADB5;
    /* Secondary Color */
    --c-platinum: #EEEEEE;
    /* Accent Color */
    --c-amber-flame: #FFB000;
    --c-golden-polen: #FFCB5C;
    /* Background Color */
    --c-jet-black: #1B262C;
    /* Surface Color */
    --c-slate-black: #27373F;
    /* Success Color */
    --c-laser-green: #39FF14;
    --c-green: #2e7d32;
    
    --c-pure-white: #FFFFFF;
    --c-absolute-black: #000000;


    /* =============================================================
       LEVEL 2: CATEGORIES (Where they go)
       ============================================================= */
    
    /* 1. PRIMARY COLOR (Branding e Identity) */
    --primary-color: var(--c-tropical-teal);
    --header-bg: var(--primary-color);
    --footer-bg: var(--primary-color);
    

    /* 2. ADDITIONAL COLORS (Secondary & Accent) */
    /* --secondary-color: var(--c-platinum); */
    /* --accent-color: var(--c-amber-flame); */
    --border-color: var(--c-tropical-teal);
    --border-color-secondary: var(--c-amber-flame);
    --bg-button: var(--c-tropical-teal);
    --text-button: var(--c-jet-black);

    /* 3. BACKGROUND COLORS (Containers e Sections) */
    --bg-page: var(--c-slate-black);
    --bg-card: var(--c-jet-black);
    /* ==>>>> pensar melhor na cor depois <<<=== */
    --bg-card-title: var(--c-absolute-black);
    /* ==>>>> pensar melhor na cor depois <<<=== */
    /* --bg-nav: var(--c-amber-flame); */

    /* 4. TYPEFACE COLORS (Typography) */
    --text-primary: var(--c-platinum);
    --text-heading-dark: var(--c-jet-black);
    --text-heading-light: var(--c-tropical-teal);
    --text-heading-lighter: var(--c-platinum);
    /* --text-on-dark: var(--c-pure-white); */

    /* 2. NAVIGATION */
    --nav-bg: var(--c-golden-polen);
    --nav-text: var(--c-jet-black);
    --nav-hover: var(--c-amber-flame);
    --nav-active: var(--c-white);   

    /* 5. CHECK LIST
       ----------------
        TYPES:
            checkpoint - normal check list item, default = ex: APU .... START
            info - sub-items on checkpoint (treat like checkpoint for now)
            subtitle - subtitle = ex: Passing TA
            sim-action - sepcial title to grabb attention on think to do on the aircraft, like 777 = (PREFILHT CHECKLIST)
            atc - treat like checkpoint for now. 
    */
    /* type: checkpoint */
    --cl-checkpoint: var(--c-pure-white);
    /* type: info */
    /* ==>>>> pensar melhor na cor depois <<<=== */
    --cl-info: #B8B8B8;
    /* ==>>>> será que posso usar o heading aqui? tipo um h3? <<<=== */
    /* type: subtitle */
    --cl-subtitle: var(--c-amber-flame);
    /* type: sim-action */
    --cl-sim-action: #00C2CC;
    /* var(--c-pure-white); */
    /* type: ATC */
    --cl-atc: var(--c-amber-flame);

    /* completed for type: checkpoint, info, sim-actio, atc */
    --cl-success: var(--c-laser-green);
}


* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-page);
}

h1, h2, h3 {
    font-family: "Kode Mono", Verdana, Geneva, Tahoma, sans-serif;
}



p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header, main, nav, footer {
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto;
}

.cardTitle {
    display: flex;
    align-items: center;
    background-color: var(--bg-card-title);
    color: var(--text-heading-light);
    height: 34px;
    padding-left: 10px;
    font-size: 1.25rem;
    margin: 0;
}

.cards {
    padding: 10px;
    background-color: var(--bg-card);
    flex-grow: 1;
}

/* ---- Buttons ----  */
.buttons {
    color: var(--c-absolute-black);
    background-color: var(--bg-button);
    height: 44px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    text-decoration: none;
}
.buttons:hover {
    filter: saturate(50%);
}
.buttonsRounded {
    border-radius: 8px
}




/**************** HEADER ****************/
header {
    /* padding: 0 10px; */
    display: grid;
    grid-template-columns: 60px auto 44px;
    align-items: center;
    background-color: var(--header-bg);
    border-bottom: 2px solid var(--border-color-secondary);
    color: var(--text-heading-dark);
}


header img {
    display: block;
    width: 100%;
    height: auto;
    margin: 5px 0 5px 10px;
}

header span {
    font-family: "Kode Mono", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: var(--text-heading-dark);
    font-weight: bold;
    margin: 5px 0 5px 15px;
}

/**************** HAMBURGER ****************/
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    height: 44px;
    padding-right: 0;
    margin-right: 10px;
}

/* .theme::before{
    content: "◐";
    font-size: 1.5rem;
    color: var(--text-heading-dark);    
} */

.hamburger {
   
    padding-bottom: 8px;
}

.hamburger.show {
    padding-bottom: 5px;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
    color: var(--text-heading-dark);
}

.hamburger.show::before {
    content: "\00D7";
}

/**************** NAVIGATION ****************/
.navigation {
    display: none;
    font-family: sans-serif;
    /* background-color: var(--bg-nav); */
    background-color: var(--nav-bg);
    border-top: 1px solid var(--border-color-secondary);
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    text-align: right;
    color: var(--text-button);
}



li.current a {
    color: var(--nav-active);
    font-weight: bold;
}

li.current a::before {
    font-family: "Material Symbols Outlined";
    font-size: 15px;
    color: var(--c-green);
    /* content: "♦️"; */
    /* content: "\e904"; */
    content: "\e539";
    margin-right: 2px;
    vertical-align: -2px;
    }

/**************** FOOTER ****************/
footer {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    /* gap: 10px; */
    background-color: var(--footer-bg);
    border-top: 2px solid var(--border-color-secondary);
    color: var(--text-heading-dark);
    font-size: 1.1rem;
    color: var(--c-absolute-black);
}

.footer-info, .footer-date {
    align-items: center;
    justify-content: center;
    display: flex;
}

/* .footer-info { */
    /* flex: 1; */
    /* text-align: center; */
    /* display: flex; */
/* } */

/* .chamber-info h2 {
    font-size: 1.1rem;
} */

.social {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0px;
    flex: 1;    
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-jet-black);
    border-radius: 50%;
    width: 60px; 
    height: 60px;
}

.social img {
    width: 42px;
    height: 42px;
}

/* .footer-date { */
    /* flex: 1; */
    /* text-align: center; */
/* } */



/*=========================================
    Home.HTML
=========================================== */

/**************** MAIN ****************/

.home-page h1 {
    margin: 10px;
    color: var(--text-heading-lighter);
}

.home-page .hero {
    position: relative;
}

.home-page .hero img {
    width: 100%;
    height: auto;
    min-height: 174px;
}

.home-page .cta {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    /* height: 44px; */
    width: 16%;
    min-width: 150px;    
    /* text-align: center;
    align-content: center; */
    
}



.home-page .welcomeLastflight {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    /* border: 1px dashed green; */
}



.home-page .welcomeLastflight p {
    margin: 10px 0;
    color: var(--text-primary);
}

/* vertical alignment, the div's fill up the space */
.welcomeSection, .lastflightSection {
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
}


.home-page .lastflightDiv {
    /* padding: 10px; */
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
}

.home-page .lastflightImg div {
    height: 52px;
    width: 128px;
    border: 1px dashed green;
}

.home-page .lastflightAircraft p {
    font-weight: bold;
    margin: 0;
    line-height: 24px;
}

.home-page .lastflightAircraft span {
    font-weight: normal;
}

.home-page .choose {
    margin: 10px;
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* gap: 10px; */
}

.home-page .chooseDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-page .chooseDiv .buttons {
    display: flex;
    font-family: Doto, Arial, Helvetica, sans-serif;
    /* background-color: var(--bg-button); */
    /* color: var(--c-absolute-black); */
    /* height: 44px; */
    min-width: 100px;
    align-items: center;
    justify-content: center;
    /* cursor: pointer; */
}



.home-page .chooseDiv .buttons p {
    font-family: Doto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
}

/*=========================================
    Checklist.HTML
=========================================== */

/**************** MAIN ****************/

/* .checklist-page { */
    /* margin: 10px; */
/* } */

.checklist-page h1 {
    margin: 10px;
    color: var(--text-heading-lighter);
}

.checklist-page h2 {
    margin: 10px;
    color: var(--text-heading-lighter);
    text-align: center;
}

.checklist-page > label {
    margin-left: 10px;
}

.checklist-page #select-aircraft {
    width: 220px;
    text-align: left;
    border: 0;
    border-right-width: 0;
    font-family: sans-serif;
    font-weight: bold;
    /* margin-left: 10px; */
}

.checklist-page .chekclistMainDiv {
    /* margin: 0 auto;
    max-width: 964px; */
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    /* border: 1px dashed green; */
}



/* .checklist-page .chekclistMainDiv p {
    margin: 10px 0;
    color: var(--text-primary);
} */

.categorySection {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

/* .categorySection {
    display: flex;
    flex-direction: column;
} */

.resetAll {
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    width: 350px;
    margin: 10px;
    align-self: center;
    /* justify-content: center; */
    /* padding: .80rem 2rem; */
}



.checklist-page .categoryTitleDiv {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 24px;
    padding: 0 10px;
    cursor: pointer;
}

/* .checklist-page .categoryTitleDiv h2 { */
.checklist-page .categoryTitleDiv h3 {
    padding: 0;
}


/* ---- BUTTON Up/Down ---- */
.checklist-page .categoryButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    height: 24px;
    width: 24px;
    padding: 0;
    margin: 0;
    /* padding-right: 0;
    margin-right: 10px; */
    color: var(--text-primary);
    font-size: 1.7rem;
}

.checklist-page .categoryButton::before {
    font-family: "Material Symbols Outlined";
    content: "\e313";
    /* e316 */
    /* e313 */
    
}

.checklist-page .categoryButton.show::before {
    content: "\e316";
}

.checklist-page .checklistDiv {
    display: none;
    padding: 10px;
}
.checklist-page .checklistDiv.show {
    display: block;
}

/* teste para ver cor de fundo para ficar sobre os pontilhados */
/* .checklist-page .checklistDiv p {
    padding-right: 4px;
    display: inline-block;
    color: red;
    background-color: blue;
} */

/*============= CHECKLIST ITEMS ============= */

.checklistItem {
    height: 44px;
    display: grid;
    grid-template-columns: 14px 1fr;
    cursor: pointer;
    align-items: center;
}

.check {
    /* border: 1px solid var(--text-primary); */
    border: 1px solid var(--cl-checkpoint);
    width: 10px;
    height: 10px;
    /* justify-self: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.checkIcon {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: none;
    align-items: center;
    justify-content: center;
    height: 4px;
    width: 4px;
    color: var(--cl-success);
    /* font-size: 3rem; */
    background-color: var(--cl-success);
}

.checkIcon.checked {
    display: flex;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Doto, Arial, Helvetica, sans-serif;
    /* color: var(--text-primary); */
    color: var(--cl-checkpoint);
    font-size: .9rem;
    font-weight: 600;
    /* position: relative; */
}
.item.checked {
    color: var(--cl-success);
}

.dot {
    font-family: Helvetica;
    height: 0;
    /* border: 1px dashed var(--text-primary); */
    border: 1px dashed var(--cl-checkpoint);
    flex-grow: 1;
    margin: 10px 5px 0 5px
}
.dot.checked {
    border: 1px dashed var(--cl-success);
}

.action {
    text-align: left;
}

.item.type-info {
    margin: 0 5px;
    color: var(--cl-info);
    /* font-weight: 500; */
}
.item.type-info div {
    border: 1px dashed var(--cl-info);
}

.checklistItem.type-subtitle {
    grid-template-columns: 1fr;
}
.item.type-subtitle {
    /* text-align: center; */
    justify-content: center;
    color: var(--cl-subtitle);
    /* font-size: 1rem; */
    font-weight: 600;
}



.item.type-sim-action {
    /* text-align: center; */
    justify-content: center;
    transform: translateX(-7px);
    color: var(--cl-sim-action);
    font-weight: 800;
}

.resetDiv {
    display: flex;
    justify-content: center;
}
.reset {
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    width: 200px;
    margin-top: 10px;
    /* align-self: center; */
    /* justify-content: center; */
    /* padding: .80rem 2rem; */
}







/*=========================================
    Add-Aircraft.HTML
=========================================== */

/**************** MAIN ****************/

.add-aircraft-page h1 {
    margin: 10px;
    color: var(--text-heading-lighter);
}

/* .add-aircraft-page > div { */
    /* margin: 0 auto;
    display: flex;
    flex-direction: column;     */
    
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* max-width: 964px; */
    /* border: 2px dashed blue; */
/* } */

.add-aircraft-page .addAircraft {
    /* margin: 0 auto;
    max-width: 964px; */
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    /* border: 1px dashed green; */
}

.add-aircraft-page .addAircraft p {
    margin: 10px 0;
    color: var(--text-primary);
}

/* ---- FORM ---- */

.request-form {
     /* margin: 0 auto; */
    /* margin: 1rem 2%; */
    font-family: Roboto, Helvetica, sans-serif;
}

label {
    font-family: Roboto, Helvetica, sans-serif;
    display: block;
    font-size: .8rem;
    padding-top: .2rem;
    color: var(--text-primary);
}

input[type=text],
input[type=tel],
input[type=email],
select,
textarea {
    display: block;
    width: 100%;
    /* height: 44px; */
    margin: .1rem 0 1rem 0 ;
    padding: .3rem;
    border: 1px solid var(--border-color-secondary);
    border-radius: 4px;
    border-right-width: .5rem;
    font-size: 1rem;
    color: var(--text-button);
}

input[type=text],
input[type=email],
select,
input[type=tel] {
    height: 44px;
}

/* textarea {
    margin: .1rem 0 0 0;
} */

input:required, fieldset:has(input:required:invalid) {
    border-right-color: #c50000;
}
input:focus, textarea:focus, fieldset:focus-within {
    border-right-color: var(--nav-hover); 
    outline:none;
    /* outline-color: var(--brand-primary); */
}
input:required:valid, fieldset:has(input:required:valid) {
    border-right-color: var(--c-green)
    /* #2e7d32;; */
}

form div {
    display: flex;
    justify-content: center;
}

input[type=submit] {
    border: none;
    /* background-color: var(--bg-accent); */
    /* color: var(--text-on-dark); */
    padding: .80rem 2rem;
    /* margin: 1rem auto; */
    /* border-radius: 8px; */
    font-family: sans-serif;
    font-weight: bold;
    width: 200px;
}

/*  -----------------------------------------
    Thankyou.HTML
    ----------------------------------------- */

    .thankyou-page > div {
        margin: 10px;
        display: flex;
        flex-direction: column; 
        
        /* justify-content: center; */
        /* justify-content: space-around; */
        /* align-items: center; */
        
        /* border: 2px dashed blue; */
    }

    .thankyou-page h1 {
        margin: 10px;
        color: var(--text-heading-lighter);
    }
    /* .thankyou-page {
        padding: 10px;
    } */

    /* .thankyou-page h1 {
        padding: 0 0 10px 0;
    } */

    .thankyou-page .paragraph {
        margin: 0px;
        color: var(--text-primary);
        font-family: Roboto, Helvetica, sans-serif;
        /* font-size: 1.3rem; */
        /* text-align: center; */
        /* font-weight: bold; */
        font-size: 1rem;
        line-height: 25px;
        /* margin: 1rem 0; */
        /* padding-top: 10px; */
    }

    /* .thankyou-page p {
        font-size: 1.1rem;
    } */

    .thankyou-page #results {
        color: var(--c-golden-polen);
        margin: 0 10px;
        font-weight: normal;
        /* color: red; */
    }